
@{
    ViewBag.Title = "FixedFooter_Index";
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Fixed Footer <small> Just add class <strong>footer_fixed</strong></small></h3>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

<!-- jQuery -->
<script src="@Url.Content("~/Content/")vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="@Url.Content("~/Content/")vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="@Url.Content("~/Content/")vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="@Url.Content("~/Content/")vendors/nprogress/nprogress.js"></script>
<!-- jQuery custom content scroller -->
<script src="@Url.Content("~/Content/")vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- Custom Theme Scripts -->
<script src="@Url.Content("~/Content/")build/js/custom.min.js"></script>

